div.post-card {
    max-width: 720px;
    cursor: pointer;
    position: relative;
}

div.post-card div.options-group {
    position: absolute;
    top: 0px;
    right: 0px;
}

div.post-card div.options-group div.doca-dropdown-menu {
    position: absolute;
    top: 1.8rem;
    right: 0px;
}

div.post-card div.doca-dropdown-menu.hide {
    opacity: 0;
    visibility: hidden;
}