<div class="doca-page__header doca-mt-2">
    <div class="doca-page__header__content doca-flex doca-justify-between doca-flex-row doca-items-center">
        <h1 class="doca-page__header__title doca-text--semibold">Medium Amigo</h1>
        <div class="doca-form__field" style="width: 28%;">
            <div class="doca-form-control__icon-container doca-form-control__icon-container--left">
                <i class="doca-icon doca-icon__search" />
                <input class="doca-form-control" type="text" placeholder="Buscar publicações por autor, título ou conteúdo"/>
            </div>
        </div>
        <div ng-if="!loggedUser" class="doca-button-group">
            <button ng-click="login('Gabriel Rodrigues')">
                Login
            </button>
            <button>
                Cadastrar
            </button>
        </div>
        <div ng-if="loggedUser" class="doca-flex doca-justify-center doca-items-center">
            <p class="doca-text--normal doca-mr-2">
                Olá, {{loggedUser.name | FirstNameFilter | CapitalizeFilter}}
            </p>
            <button class="doca-button doca-button--secondary">
                Criar publicação
            </button>
        </div>
    </div>
</div>