<div class="doca-page__header doca-mt-2">
    <div class="doca-page__header__content doca-flex doca-justify-between doca-flex-row doca-items-center">
        <h1
        class="doca-page__header__title doca-text--semibold doca-flex doca-justify-center doca-items-center"
        style="cursor: pointer;"
        ng-click="goTo('')">
            <img src="assets/amigo.svg" class="doca-mr-1" width="40" alt="Amigo Logo">
            <span>
                Medium
            </span>
        </h1>
        <div class="doca-form__field" style="width: 28%;">
            <div class="doca-form-control__icon-container doca-form-control__icon-container--left">
                <i class="doca-icon doca-icon__search" />
                <input class="doca-form-control" type="text" placeholder="Buscar publicações por autor, título ou conteúdo"/>
            </div>
        </div>
        <div ng-if="!loggedUser" class="doca-button-group">
            <button ng-click="openLoginModal()">
                Login
            </button>
            <button ng-click="openSignupModal()">
                Cadastrar
            </button>
        </div>
        <div ng-if="loggedUser" class="doca-flex doca-justify-center doca-items-center">
            <p class="doca-text--normal doca-mr-2">
                Olá, {{loggedUser.name | FirstNameFilter | CapitalizeFilter}}
            </p>
            <button ng-click="openPostModal(null, 'Criar', null, $event)" class="doca-button doca-button--secondary doca-mr-2">
                Criar publicação
            </button>
            <button class="doca-button doca-button--warning" ng-click="logout()">
                <i class="doca-icon doca-icon__sign-in-alt"></i>
                Sair
            </button>
        </div>
    </div>
</div>