<div class="doca">
    <div class="modal-header doca-flex doca-justify-between doca-items-center">
        <h1 class="modal-title doca-text--semibold doca-text--large">Cadastrar Usuário</h1>
        <button ng-click="dismiss()" class="doca-button doca-button--tertiary">
            <i class="doca-icon doca-icon__x"></i>
        </button>
    </div>
    <div class="modal-body" style="padding-top: 0px;">
        <div ng-show="errorMessage.length > 0" class="doca-alert doca-alert--info doca-alert--danger doca-mb-5">
            <span class="doca-alert__text">
                {{errorMessage}}
            </span>
        </div>
        <form>
            <div class="doca-form__field doca-form__field--required doca-mb-5">
                <label class="doca-form__label">Nome</label>
                <div class="doca-form-control__icon-container doca-form-control__icon-container--left">
                    <i class="doca-icon doca-icon__user"></i>
                    <input name="name" class="doca-form-control" ng-required="true" type="text"
                        ng-model="newUser.name" />
                </div>
            </div>
            <div class="doca-form__field doca-form__field--required doca-mb-5">
                <label class="doca-form__label">E-mail</label>
                <div class="doca-form-control__icon-container doca-form-control__icon-container--left">
                    <i class="doca-icon doca-icon__at"></i>
                    <input name="email" class="doca-form-control" ng-required="true" type="email"
                        ng-model="newUser.email" />
                </div>
            </div>
            <div class="doca-form__field doca-form__field--required doca-mb-5">
                <label class="doca-form__label">Senha</label>
                <div class="doca-form-control__icon-container doca-form-control__icon-container--left">
                    <i class="doca-icon doca-icon__lock"></i>
                    <input name="password" class="doca-form-control" ng-required="true" type="password"
                        ng-model="newUser.password" />
                </div>
            </div>
            <div class="doca-flex doca-items-center doca-justify-center">
                <button class="doca-button doca-button--info" ng-click="sendSignup($event)">
                    <i class="doca-icon doca-icon__sign-in-alt"></i>
                    Cadastrar
                </button>
            </div>
        </form>
    </div>
</div>