<div class="doca">
    <div class="doca-alert-modal__backdrop">
        <div class="doca-alert-modal doca-alert-modal--full-width">
            <h1 class="doca-alert-modal__title">
                Tem certeza que deseja excluir esta publicação?
            </h1>
            <h2 class="doca-alert-modal__text">
                Esta ação não poderá ser desfeita.
            </h2>
            <div class="doca-alert-modal__actions">
                <button ng-click="ok()" class="doca-button doca-button--danger">
                    <i class="doca-icon doca-icon__trash doca-icon--solid"></i>
                    Excluir
                </button>
                <button ng-click="cancel()" class="doca-button doca-button--secondary">
                    <i class="doca-icon doca-icon__x doca-icon--solid"></i>
                    Cancelar
                </button>
            </div>
        </div>
    </div>
<div>